body{
    background-color: hsla(0, 0%, 100%, 0.597);
}

/* Global fix for mobile overscroll */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* For iOS Safari */
@supports (-webkit-touch-callout: none) {
    html, body {
        height: -webkit-fill-available;
    }
}